.page-title {
  text-align: center;
  color: #3f51b5;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 24px;
}

.login-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-card {
  background-color: #f3f4f6;
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  max-width: 400px;
}

.card-title {
  color: #3f51b5;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.full-width {
  width: 100%;
}

.button-flex-container {
  text-align: center;
  margin-top: 16px;
}
